body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-all{
  max-width: 1300px;
  margin: 0 auto;
}
.container-para{
  text-align: center;
}
.container-inside-para{
  height: 750px;
}
@media only screen and (max-width: 768px) {
  .inside-bg {
    
    padding: 20px !important;
    position:absolute !important;
    top: 75% !important;
    left:50% !important;
    transform: translate(-50%,-50%) !important;
    color: white !important;
   };
   .inside-h1{
    font-size: 4rem !important;
    font-weight: bold;
  }
}

.inside-bg {
  
 padding: 10px;
 position:absolute;
 top: 50%;
 left:50%;
 transform: translate(-50%,-50%);
 color: white;
};


.react-parallax-content{
  filter: brightness(0.7) !important;
}
.react-parallax-bgimage{
  filter: brightness(0.7) !important;
}
.navbar{
  box-shadow: none !important;
  background-color: #00000052;
}
.service{
  background-color: rgb(35, 31, 32);
}
.service h1{
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
}
.card{
  display: grid;
    justify-content: center;
    grid-gap: 2rem;
}
@media (min-width:768px){
  .cards{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    grid-column-gap: 8rem;
    grid-row-gap: 2rem;
  }
}

.cardImg1{
  max-width: 170px;
  margin: auto;
  padding-top: 15px;
}
.cardImg2{
  max-width: 158px;
  margin: auto;
  padding-top: 7px;
}
.cardImg3{
  max-width: 191px;
  margin: auto;
  padding-top: 19px;
}
.cardImg4{
  max-width: 191px;
  margin: auto;
  padding-top: 19px;
}

.container-week{
  margin-left: 1rem;
    display: grid;
    max-width: 342px;
    margin-top: 4rem;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    grid-gap: 1rem;
  
}
.container-times{
  display: grid;
  
}
.container-weakly{
  
  display: grid;
  grid-template-areas:
  'dateS dateF '
  'error error'
  'break totalHs';
  grid-gap: 13px;
  margin: auto 17px;
  align-items: center;

}




.hs-start{
  grid-area: dateS;
}
.hs-finish{
  grid-area: dateF;
}
.error-hs{
  grid-area: error;
}
.select-break{
  grid-area: break;
}
.totalHs{
  grid-area: totalHs;
}
.jobhscontainer{
  display: grid ;
  margin-bottom: 10px;
}

.md-form {
  margin-bottom: .5rem;
}


.container-hs-butt{
  display: grid;
  max-width: 400px;
  grid-template-columns: 200px 200px;
  justify-content: center;
  grid-gap: 3rem;
  align-items: center;
}

.hs-jobb{
margin-left: 3rem;
}
.hs-button{
  max-width: 100px;
}
.button-button-hs{
  padding:10px 15px;
}

.text-jobb{
  margin-bottom: 0 !important;
}

@media (min-width:768px){
  .container-times{
    display: grid;
    max-width: 800px;
  }
}

.button-delete{
    border: none;
    border-radius: 12px;
    background-color: #fe3646;
    color: white;
}
.container-day-hs{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  
}
.container-day-hs p {
  margin-bottom: 0;
}

.hs-W-Ending{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
}
.hs-W-Ending span{
  font-size: 21px;
  font-weight: bold;
}
.error{
  text-align: center;
}


.container-staff{
  display: grid ;
  grid-template-areas:
  'h1 h1'
  'img1 img1'
  'txt1 txt1'
  'img2 img3 '
  'txt2 txt3 '
  'img4 img5 '
  'txt4 txt5 '
  'img6 img7 '
  'txt6 txt7 '
  'img8 img9 '
  'txt8 txt9 '
   ;
   grid-gap: 2rem;
}
.container-staff img{
  max-width: 200px;
}
@media (min-width:768px){
  .container-staff{
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-areas:
    'h1 h1 h1 h1'
    'img1 img1 txt1 txt1'
    'img1 img1 txt1 txt1'
    'img2 img3 img4 img5'
    'txt2 txt3 txt4 txt5'
    'img6 img7 img8 img9'
    'txt6 txt7 txt8 txt9' ;

  grid-template-rows: auto;
  }
}

.container-staff h1{
  grid-area: h1;
  text-align: center;
  margin: 0 auto;
}
.img1{
  grid-area: img1;
  max-width: 400px !important;
    width: 400px !important;
    height: 325px;
  grid-column: 1/3;
  grid-row: 2/3;
}
.txt1{
  grid-area: txt1;
}
.img2{
  grid-area: img2;
}
.txt2{
  grid-area: txt2;
}
.img3{
  grid-area: img3;
}
.txt3{
  grid-area: txt3;
}
.img4{
  grid-area: img4;
}
.txt4{
  grid-area: txt4;
}
.img5{
  grid-area: img5;
}
.txt5{
  grid-area: txt5;
}
.img6{
  grid-area: img6;
}
.txt6{
  grid-area: txt6;
}
.img7{
  grid-area: img7;
}
.txt7{
  grid-area: txt7;
}
.img8{
  grid-area: img8;
}
.txt8{
  grid-area: txt8;
}
.img9{
  grid-area: img9;
}
.txt9{
  grid-area: txt9;
}





.blog {

  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1300px;
  margin-top: 6rem;

}
.entrada {
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.28);
  margin-bottom: 2rem;
  width: calc(50% - 1rem);
  background-color: white;
}
.container-span-project{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  display: grid;
  justify-content: center;
  
}

@media screen and (min-width: 768px) {
  
  .blog {
      max-height: 1400px;
  }
  .container-span-project{
    font-weight: bold;
    font-size: 2rem;

    display: inline;
  }
  
  .entrada {
      width: calc(33% - 1rem);
  }
}
.entrada img {
  max-width: 100%;
}
.button-download{
  text-align: center;
}




